/* styles.css */

body {
    background-color: #e0f7e9; /* Soft green background */
    color: #2b2b2b; /* Dark grey text */
    font-family: 'Source Code Pro', monospace; /* Updated font family */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.terminal {
    border: 1px solid #4caf50; /* Green border */
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5); /* Green shadow */
    margin-bottom: 20px;
    background-color: #f1f8f4; /* Light greenish background */
}

.full-width {
    width: 100%;
}

.terminal-row {
    display: flex;
    justify-content: space-between;
}

.terminal-row .terminal {
    width: 32%;
}

.header {
    background-color: #388e3c; /* Dark green background */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .buttons {
    display: flex;
}

.header .buttons span {
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 50%;
}

.header .buttons .close {
    background-color: #e57373; /* Light red for close button */
}

.header .buttons .minimize {
    background-color: #ffb74d; /* Light orange for minimize button */
}

.header .buttons .maximize {
    background-color: #81c784; /* Light green for maximize button */
}

.header .title {
    color: #fff; /* White text */
}

.content {
    padding: 20px;
}

h2 {
    color: #388e3c; /* Dark green text */
}

a {
    color: #388e3c; /* Dark green links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.profile-image {
    float: right;
    margin: 0 0 1em 1em;
    border-radius: 50%;
    width: 200px;
    height: 200px; 
}

.typewriter {
    shape-margin: 1em; 
}

.text-and-image {
    overflow: hidden;
    display: flex;
    align-items: center; /* Center vertically */
}

.flip-card {
    perspective: 1000px; /* Add perspective to enable 3D effect */
}

.flip-card-inner {
    position: relative;
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    transition: transform 0.5s; /* Smooth transition for transform */
    transform-style: preserve-3d; /* Ensure proper rendering of 3D space */
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); /* Flip on hover */
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide the back face of the card */
}

.flip-card-back {
    transform: rotateY(180deg); /* Start flipped */
}

/* music player */

.music-player {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
    color: white;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.track-info {
    display: flex;
    align-items: center;
    width: 100%;
}

.album-cover {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-right: 15px;
}

.track-details {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.track-title {
    font-weight: bold;
}

.track-artist {
    font-size: 0.8em;
    color: #ccc;
    margin-bottom: 10px; /* Space between artist name and progress bar */
}

.progress-bar {
    height: 5px;
    width: 100%;
    background: #cdd9c2;
    border-radius: 10px;
    position: relative;
}

.fill {
    background-color: #8BA989;
    height: 100%;
    border-radius: 10px;
    transition: width 0.1s;
}

.time-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px; /* Space between progress bar and time indicators */
    font-size: 0.8em; /* Adjust font size as needed */
}

.time--current, .time--total {
    color: #8dba97;
}


  
  